<main>
  <div class="container">
    <div class="alert alert-dark" role="alert">
     <h3>ユーザー情報一覧・情報画面 <i class="bi bi-arrow-bar-right"></i></h3>
    </div>
    <div class="col-sm-8">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><%= @user.name %></th>
            <th><%= @user.email %></th>
            <th><%= link_to "編集する", users_mypage_edit_path, class: "btn btn-success", data: {"turbolinks" => false} %></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>