<main>
  <div class="container">
    <h1 class="text-center">
      ようこそ <i class="fas fa-plane"></i>Japanvelへ！
    </h1></br>
    <h3 class="text-center">
      このサイトは観光地の予習がバッチリできる</br>
      観光地共有投稿サイトです。</br>
      </br>
    </h3>
　　<h4 class="text-center">
　　  新規登録を行わなくても閲覧は可能ですが、新規登録をしますと</br>
　　  投稿したり、ブックマーク機能を使用することができます。</br>
　　</h4>
  </div>
</main>

