<main>
  <div id="fh5co-intro-section", style="padding: 6em">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h1>ようこそ   <i class="fas fa-plane"></i>Japanvelへ！</h1>
        </div>
      </div>
    </div>
  </div>
</main>