<main>
  <div id="container-about">
    <div id="theTarget">
      <div class="image1"></div>
      <div class="image2"></div>
      <div class="image3"></div>
      <div class="image4"></div>
      <div class="image5"></div>
      <div class="image6"></div>
      <div class="image7"></div>
      <div class="image8"></div>
      <div class="image9"></div>
      <div class="image10"></div>
    </div>
  </div>
  <div class="inner cover text-center lead">
    <h1 class="cover heading text-center">ようこそ <i class="fas fa-plane"></i>Japanvelへ！</h1>
      <span style="border-bottom: solid 1px skyblue;">
        </br>
        </br>
        </br>
        </br>
        このサイトは観光地の予習がバッチリできる</br>
        観光地共有投稿サイトです。</br>
        新規登録を行わなくても閲覧は可能ですが</br>
        新規登録をしますと投稿したり、</br>
    　　ブックマーク機能を使用することができます。
    　</span>
  </div>
</main>

<script>
  $(document).ready(function () {
  $("#theTarget").skippr({
    // スライドショーの変化 ("fade" or "slide")
    transition : 'slide',
    // 変化に係る時間(ミリ秒)
    speed : 1000,
    // easingの種類
    easing : 'easeOutQuart',
    // ナビゲーションの形("block" or "bubble")
    navType : 'block',
    // 子要素の種類('div' or 'img')
    childrenElementType : 'div',
    // ナビゲーション矢印の表示(trueで表示)
    arrows : false,
    // スライドショーの自動再生(falseで自動再生なし)
    autoPlay : true,
    // 自動再生時のスライド切替間隔(ミリ秒)
    autoPlayDuration : 3000,
    // キーボードの矢印キーによるスライド送りの設定(trueで有効)
    keyboardOnAlways : false,
    // 一枚目のスライド表示時に戻る矢印を表示するかどうか(falseで非表示)
    hidePrevious : false,
  });
});
</script>