<main>
  <div class="container">
    <div id="fh5co-intro-section", style="padding: 6em 0 2em">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="spell">ようこそ<i class="fas fa-plane"></i>Japanvelへ！</div>
        </div>
      </div>
    </div>
    <div id="container-about">
      <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
        <div class="image5"></div>
        <div class="image6"></div>
        <div class="image7"></div>
        <div class="image8"></div>
        <div class="image9"></div>
        <div class="image10"></div>
      </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <ul class="abouter">このサイトは観光地の予習がバッチリできる観光地共有投稿サイトです。
      </ul>
    </div>
  </div>
</main>


<script>
  $(document).ready(function () {
  $("#theTarget").skippr({
    // スライドショーの変化 ("fade" or "slide")
    transition : 'slide',
    // 変化に係る時間(ミリ秒)
    speed : 1000,
    // easingの種類
    easing : 'easeOutQuart',
    // ナビゲーションの形("block" or "bubble")
    navType : 'block',
    // 子要素の種類('div' or 'img')
    childrenElementType : 'div',
    // ナビゲーション矢印の表示(trueで表示)
    arrows : false,
    // スライドショーの自動再生(falseで自動再生なし)
    autoPlay : true,
    // 自動再生時のスライド切替間隔(ミリ秒)
    autoPlayDuration : 3000,
    // キーボードの矢印キーによるスライド送りの設定(trueで有効)
    keyboardOnAlways : true,
    // 一枚目のスライド表示時に戻る矢印を表示するかどうか(falseで非表示)
    hidePrevious : false,
  });
});
</script>