<main>
  <div class="container">
    <div id="fh5co-intro-section", style="padding: 6em 0 2em">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="spell">ようこそ<i class="fas fa-plane"></i>Japanvelへ！</div>
        </div>
      </div>
    </div>
    <div id="container-about">
      <div id="theTarget">
        <div class="image2">
          <p class="texter">このサイトは観光地共有サイトです。</p>
        </div>
        <div class="image3">
          <p class="texter">登録しなくても、閲覧は可能です。</p>
        </div>
        <div class="image4">
          <p class="texter">新規登録しますと<br>
          投稿・ブックマーク・検索機能が<br>
          可能になります。</p>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
    $("#theTarget").skippr({
      // スライドショーの変化 ("fade" or "slide")
      transition : 'slide',
      // 変化に係る時間(ミリ秒)
      speed : 1000,
      // easingの種類
      easing : 'easeOutQuart',
      // ナビゲーションの形("block" or "bubble")
      navType : 'block',
      // 子要素の種類('div' or 'img')
      childrenElementType : 'div',
      // ナビゲーション矢印の表示(trueで表示)
      arrows : true,
      // スライドショーの自動再生(falseで自動再生なし)
      autoPlay : true,
      // 自動再生時のスライド切替間隔(ミリ秒)
      autoPlayDuration : 3000,
      // キーボードの矢印キーによるスライド送りの設定(trueで有効)
      keyboardOnAlways : true,
      // 一枚目のスライド表示時に戻る矢印を表示するかどうか(falseで非表示)
      hidePrevious : false,
    });
  });
  </script>
</main>